# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Jupyter
.ipynb_checkpoints/

# Data files (optional — depends if you want to include)
data/raw/

# OS files
.DS_Store
Thumbs.db

# Power BI temp
*.pbix.lock